<h1>About Me</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <!-- <img src="https://via.placeholder.com/350x250" width="300" alt="Profile Image"> -->

    <!-- <%= image_tag "https://via.placeholder.com/350x550", width: 300, alt: "Profile Image" %> -->

    <%= image_tag "350x150.png", width: 300, height: 550, alt: "Profile Image" %>
  </div>
  <div class="col-md-8">
    <p>Currently working as a Technical Support Engineer at Cisco Meraki, I am an experienced network engineer with a demonstrated history of installing, maintaining, and troubleshooting networks while providing excellent support to clients and customers. I can quickly and adeptly provide solutions for client needs, priorities, and assessing future possible implementation. Always excited to learn new technologies and expand my mental growth, I accept any new challenges.
    </p>
    <p>15+ Years of IT experience, beginning with home computer setup/troubleshooting of family and friends in my hometown Syracuse, NY.
    With my love of video games I started my professional career in retail sales working as a greeter at GameStop and then advanced to Store Manager. I branched out into networking while arranging store events and LAN parties with co-workers and friends. I had found a passion. =)
      <br>
    I studied in my free time and successfully obtained my CCNA. Deciding to pursue a networking career, with a heavy heart I moved out to the Boston area.
    </p>
    <p>Beginning as an independent contractor and working with technical recruiting firms, I gained additional experience to be able to join a Managed Service Provider, providing services to customers in the New England region. I entered as a Level 1 help-desk technician and rose into the role of Technical Account Manager, being responsible for numerous high level accounts.</p>
    <p>Continuing my studies I achieved multiple Cisco certifications and was then reached out to by Cisco Meraki. I joined an excelling support team and continue to see this demonstrated everyday by colleagues who have become family.</p>
  </div>
</div>
