
<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">This is my first Ruby on Rails Project.</p>
  <p class="lead">I was able to work through this by following a fantastic Udemy tutorial.</p>
  <p class="lead">
    <a href="<%= about_me_path %>" class="btn btn-lg btn-secondary">Learn more</a>
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
